/* 575 boilerplate style.css */
.map {
	background-color: #ccffe6;
	border: medium solid #999;
    margin: 10px 0 0 20px;
    border-radius: 20px;
}

.provinces {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 2px;
}

.chart {
    background-color: #FFF;
    border: none;
    float: right;
    margin: 10px 20px 0 0;
}

.numbers {
    fill: black;
    font-family: sans-serif;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: Rockwell;
    font-size: 1.4em;
    font-weight: bold;
}
.chartSubtitle {
    font-family: Rockwell;
    font-size: 1em;
}

.chartBackground {
    background-image: url("img/leaf.jpg");
    fill: #cccccc;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.bars {
    stroke: #b3b3b3;
    stroke-width: 1px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Rockwell;
    font-size: 0.8em;
    fill: #999;
}